* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.title{
    display: block;
    background-color: rgba(0,139, 139,0.8);
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0;
    margin-bottom: 0px;
  }

.menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }

.menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

.links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
  }
  
.login {
    margin-left: 20px;
  }

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
.social,
.subscribe {
border: 1px solid #5995DA;
align-self: flex-end;
margin-bottom: 20px;
}

.photo-grid-container {
  display: flex;
 justify-content: center;
 }
 

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;

}

.carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
}
  
.carousel .carousel__item,
.carousel .carousel__item--hidden {
    display: none;
}
  
.carousel .carousel__item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}
  
.carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
}
  
  
  @keyframes fadeVisibility {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
  }


.first-item {
  order: 1;
}

.last-item {
  order: -1;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}
  
.footer {
    display: flex;
    justify-content: space-between;
  }
  
.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }

.footer-one,
.footer-three {
  flex: 2;
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}

.photo-grid-container .carousel_actions {
  display: flex;
 align-items: center;
}

.photo-grid-container .carousel_actions button {
  font-weight: bold;
}

.photo-grid-container .carousel_actions button:focus {
  border: 3px solid rgba(0, 139, 139, 0.8);
  background: #ff8c00a6;
}
  